@model IEnumerable<EcommerceMVC.Models.Category>
<div class="list-group">
    @foreach (var category in Model)
    {
        <li class="list-group-item fw-semibold">
            <a asp-action="Index" asp-route-categoryId="@category.CategoryId" class="text-decoration-none">
                @category.Name
            </a>
        </li>
    }
</div>
